/node_modules
/public/hot
/public/storage
/storage/fonts
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/img/esp
/public/img/framework
/public/img/pms
/public/img/portfolio-gallery/*
!/public/img/portfolio-gallery/dummy
/public/img/portfolio-profile/*
!/public/img/portfolio-profile/dummy
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php